body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.App-header {
  background-color: #e91e63;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  background-color: #e91e63; /* Changed to a more vivid pink */
  padding: 10px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  background-color: #e91e63;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #c2185b;
}

section {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  background-color: #e91e63;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #c2185b;
}

.age-group {
  margin-bottom: 20px;
  background-color: #ffe0f0;
  padding: 10px;
  border-radius: 10px;
}

.vaccine-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.vaccine-item h4 {
  margin-top: 0;
}

.vaccine-item button {
  background-color: #e91e63;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.vaccine-item button:hover {
  background-color: #c2185b;
}
